:root {
    --dark: #000000;
    --light: #ffffff;

    --border-weight: 1px;
    --border-radius: 10px;
    --border-color: var(--dark);
    --container-color: var(--light);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: var(--border-color);
    /* overflow: hidden; */
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.nav-bar-wrapper,
.footer-bar-wrapper {
    left: 6px;
    right: 6px;
    border: solid var(--border-color) var(--border-weight);
    border-radius: var(--border-radius);
    /* width: 100%; */
    position: fixed;
    background-color: var(--container-color);
    display: grid;
    grid-template-rows: 30px auto;
}

.nav-bar-wrapper {
    top: 0;
}
.footer-bar-wrapper {
    bottom: 0;
}

.nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-logo,
.link-button {
    text-decoration: none;
    cursor: pointer;
}

/* BUTTONS */

.link-button {
    text-align: center;
    cursor: pointer;
    background-color: var(--dark);
    color: var(--light);
    border-radius: calc(var(--border-radius) * 10);
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1rem;
}

.on-site-button {
    color: var(--dark);
    font-weight: bolder;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.arrow {
    fill: none;
    stroke: var(--dark);
    stroke-miterlimit: 10;
    stroke-width: 3;
}

.rotate-b,
.rotate,
.no-rotate {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
}

.no-rotate {
    rotate: 0;
    transition: rotate 150ms ease-out;
}

.rotate {
    rotate: 90deg;
    transition: rotate 100ms ease-out;
}

.rotate-b {
    rotate: -90deg;
    transition: rotate 100ms ease-out;
}

.link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    /* position: relative;
    top: 10%;
    display: grid;
    grid-template-rows: auto auto; */
}

@media (min-width: 500px) {
    .link-container {
        /* position: relative;
        top: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 600px; */
    }
}

.menu-open,
.menu-closed {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 500px) {
    .menu-open,
    .menu-closed {
    }
}

.menu-open {
    height: 100vh;
    transition: height 300ms ease-in;
}

.menu-closed {
    overflow: hidden;
    height: 0;
    transition: height 150ms ease-in-out;
}

.contact-open {
    background-color: var(--dark);
    height: 60vh;
    transition: height 300ms ease-in, background-color 300ms ease-out;
}

.contact-closed {
    overflow: hidden;
    height: 0;
    transition: height 150ms ease-in-out, background-color 300ms ease-out;
}



.footer-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.test-page {
    color: white;
    text-align: center;
    margin-top: 20vh;
}

/* about me */

.about-wrapper{
    gap: 1px;
    display: grid;
    padding: 0;
    margin: 0;
}

.about-container-1,
.about-container-2{
    background-color: var(--dark);
    display: grid;
    gap: 1px;
}

.about-container-1 {
    height: 90vh;
    margin-top: 23px;
    /* background-color: var(--dark); */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}



.about-container-2{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
}

.about-item-1,
.about-item-2,
.competence-item-container,
.education-item-container,
.about-container-3 {
    background-color: var(--light);
    border-radius: var(--border-radius);
}

.about-item-1,
.about-item-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.competence-item-container{
    display: grid;
    grid-template-columns: auto auto;
    padding: 1rem;
    /* max-width: 800px; */
}

.about-item-2 {

}

.big-title{
    /* font-size: 15vh; */
}

.presentation-text{
    font-size: 20px;
    max-width: 400px;
}

.education-item-container{
    padding: 1rem;
    display: grid;
    grid-template-rows: 50px 1fr;
    overflow-x: auto;
}

.education-container{
    display: flex;
    justify-content: space-around;
}

.about-container-3{
    padding: 1rem;
    display: grid;
    grid-template-rows: 50px auto;
    margin-bottom: 23px;
}

.work-list{
    display: flex;
    justify-content: space-around;
    overflow-y: hidden;
}

.work-item{
    max-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-title{
    font: 24px;
    font-weight: 900;
}

.education-title{
    font-size: 18px;
    font-weight: 700;
    max-width: 120px;
}

.school-title{
    max-width: 120px;
}

.tools-and-knowledge-header{

}

.knowledge-list{
    max-width: 120px;
}

.education-item{
    display: grid;
    gap: 10px;
}


@media (min-width: 500px) {
    .about-container-1 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .about-container-2{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
    }

}
