@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {

    --font-1: 'Caprasimo', serif;
    --font-2: 'Poppins', sans-serif;
    --display-font: var(--font-2);
    --dark-viol-1: #19073f;
    --light-viol-1: #eadcf3;
    --light-viol-2: #e2dbff;

    --dark-viol-1: #532F93;
    --viol-1: #9E9BF2;

    --light-pink-1: #e4dbdb;

    --light-grey-1: #cdcdc8;
    --light-grey-2: #e8e8e8;
    --dark-brown-1: #26231c;
    --light-latte-1: #f2f2f2;

    --yellow-1: #ffed31;

    --peach-1: #F3A67A;

    --black-1: #2e2e2e;

    --dark: var(--black-1);
    --light: var(--light-grey-2);

    --button-color-bg: var(--peach-1);
    --button-color: var(--dark);

    --border-weight: 1px;
    --border-radius: 5px;
    --max-width: 1666px;
    --border-color: var(--dark);
    --container-color: var(--light);

    --radial-gradient-1: radial-gradient(
        circle,
        var(--dark-viol-1) 2%,
        /* var(--light-viol-1) 10%, */
        var(--light-grey-2) 10%
    );

    --radial-gradient-2: radial-gradient(
        circle,
        var(--dark-viol-1) 5%,
        transparent 30%
    );

    --gradient-1: linear-gradient(
        45deg,
        var(--light-viol-1),
        var(--light-pink-1),
        var(--light-viol-2),
        var(--light-grey-2),
        var(--light-viol-2)
    );
}

body {
    /* font-family: 'Anonymous Pro', monospace; */
    font-family: 'Space Mono', monospace;
    box-sizing: border-box;
    background-color: var(--border-color);

    /* overflow: hidden; */
}

button {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}

ul,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
img,
button {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    text-decoration: none;
}

li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--dark);
}

h6 {
    font-weight: bolder;
}

a {
    text-decoration: none;
}

img {
    width: auto;
    max-height: 100%;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.app-bg {
    background-color: var(--dark);
    max-width: var(--max-width);
    margin: 0 auto;
}

.nav-bar-wrapper,
.footer-bar-wrapper {
    z-index: 999;
    max-width: var(--max-width);
    margin: 0 auto;
    left: 7px;
    right: 7px;
    border: solid var(--border-color) var(--border-weight);
    border-radius: var(--border-radius);
    /* width: 100%; */
    position: fixed;
    background-color: var(--container-color);
    display: grid;
    grid-template-rows: 30px auto;
}

.black-cover-nav,
.black-cover-footer {
    z-index: 900;
    max-width: var(--max-width);
    margin: 0 auto;
    background-color: var(--dark);
    left: 7px;
    right: 7px;
    position: fixed;
    height: 30px;
}

.transparent-cover-footer,
.transparent-cover-nav {
    z-index: 900;
    max-width: var(--max-width);
    margin: 0 auto;
    border-radius: var(--border-radius);
    background-color: transparent;
    left: 7px;
    right: 7px;
    position: fixed;
    height: 50px;
}

.transparent-cover-nav {
    top: 32px;
    box-shadow: 0px -26px 0px 0px var(--dark);
    -webkit-box-shadow: 0px -26px 0px 0px var(--dark);
    -moz-box-shadow: 0px -26px 0px 0px var(--dark);
}

.transparent-cover-footer {
    bottom: 32px;
    box-shadow: 0px 26px 0px 0px var(--dark);
    -webkit-box-shadow: 0px 26px 0px 0px var(--dark);
    -moz-box-shadow: 0px 26px 0px 0px var(--dark);
}

.black-cover-nav {
    top: 0;
}
.black-cover-footer {
    bottom: 0;
}

.nav-bar-wrapper {
    top: 0rem;
}
.footer-bar-wrapper {
    bottom: 0;
}

.nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-logo,
.link-button {
    text-decoration: none;
    cursor: pointer;
}

.loader {
    width: 100%;
    height: 4.8px;
    display: inline-block;
    position: relative;
    background: red;
    /* background: rgba(255, 255, 255, 0.15); */
    overflow: hidden;
}
.loader::after {
    content: '';
    width: 192px;
    height: 4.8px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
}

@keyframes animloader {
    0% {
        left: 0;
        transform: translateX(-100%);
    }
    100% {
        left: 100%;
        transform: translateX(0%);
    }
}

/* BUTTONS */

.link-button {
    display: block;
    text-align: center;
    cursor: pointer;
    background-color: var(--button-color-bg);
    color: var(--button-color);
    border-radius: calc(var(--border-radius) * 10);
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: 0px 0px 0px 0px var(--dark);
    -webkit-box-shadow: 0px 0px 0px 0px var(--dark);
    -moz-box-shadow: 0px 0px 0px 0px var(--dark);
    transition: all ease-in-out 200ms;
}

.link-button:hover {
    transform: translateY(-4px);
    box-shadow: 0px 4px 0px 0px var(--dark);
    -webkit-box-shadow: 0px 4px 0px 0px var(--dark);
    -moz-box-shadow: 0px 4px 0px 0px var(--dark);
}

.link-button:active {
    transform: translateY(0px);
    box-shadow: 0px 0px 0px 0px var(--dark);
    -webkit-box-shadow: 0px 0px 0px 0px var(--dark);
    -moz-box-shadow: 0px 0px 0px 0px var(--dark);
}

.link-to-button {
    margin-left: auto;
    margin-top: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;
    z-index: 990;
}

.on-site-button {
    padding: 1rem 1rem;
}

.link-to-button,
.on-site-button {
    color: var(--dark);
    font-weight: bolder;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.9rem;
}
.arrow {
    fill: none;
    stroke: var(--dark);
    stroke-miterlimit: 10;
    stroke-width: 3;
}

.caret {
    width: 8px;
    height: 8px;
    border-bottom: var(--dark) 2px solid;
    border-right: var(--dark) 2px solid;
    transform-origin: top left;
}

.rotate-b,
.rotate,
.no-rotate {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-rotate {
    rotate: -45deg;
    transition: rotate 150ms ease-out, margin-bottom 150ms ease-out;
}

.rotate {
    rotate: 45deg;
    transition: rotate 100ms ease-out, margin-bottom 150ms ease-out;
    margin-bottom: 6px;
}

.regular {
    rotate: -45deg;
}

.menu-home,
.menu-open,
.menu-closed {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-open {
    height: 100vh;
    transition: height 200ms ease-in;
}

.menu-closed {
    overflow: hidden;
    height: 0;
    transition: height 150ms ease-in-out;
}

.menu-home {
    overflow: hidden;
    border: var(--border-weight) var(--border-color) solid;
    margin: 0 auto;
    max-width: var(--max-width);
    position: absolute;
    top: 0;
    left: 7px;
    right: 7px;
    bottom: 0;
    border-radius: var(--border-radius);
    background-position: center center;
    background-size: 200%;
    /* background-position: center;
    background-size: 100%; */
    background-repeat: no-repeat;
    /* background-position: center; */
    /* background-image: var(--radial-gradient-1); */
    /* animation: gradient-movement 5s infinite alternate; */
    background-color: var(--light);
}

.gradient-bg{
    /* top:-50px; */
    position: absolute;
    height: 600px;
    width: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: var(--radial-gradient-2);
    animation: gradient-movement 5s infinite alternate;
}

.animated-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-image: var(--gradient-1);
    transition:
    top 1s ease-in,
    left 1s ease-in,
    bottom 1s ease-in,
    right 1s ease-in,
    ;
    animation: gradient-movement 500s infinite alternate;
}

@keyframes gradient-movement {
    from {
        top:-50px;
        left: -50px;
    }
    to {
        bottom: 50px;
        right: 50px;
    }
}

.link-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    padding-right: 3rem;
    padding-left: 3rem;
    display: grid;
    gap: 3rem;
    padding-bottom: 7rem;
}

@media (min-width: 375px) {
    .link-container {
        padding-right: 5rem;
        padding-left: 5rem;
    }
}

@media (min-width: 500px) {
    .link-container {
        grid-template-columns: 1fr 1fr;
    }
}

/* about me */

.about-wrapper {
    gap: 1px;
    display: grid;
    padding: 0;
    margin: 0;
}

.about-container-1,
.about-container-2 {
    background-color: var(--dark);
    display: grid;
    gap: 1px;
}

.about-container-1 {
    /* height: 80vh; */
    margin-top: 23px;
    /* background-color: var(--dark); */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.about-container-2 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
}

.about-item-1,
.about-item-2,
.competence-item-container,
.education-item-container,
.about-container-3 {
    background-color: var(--light);
    border-radius: var(--border-radius);
}

.about-item-1,
.about-item-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.competence-list {
    padding-left: 6rem;
}

.competence-list li {
    font-weight: 700;
}

.competence-item-container {
    display: grid;
    grid-template-rows: 50px auto;
    padding: 1rem;
}

.about-item-2 {
}

.big-title {
    font-family: var(--display-font);
    padding: 1rem;
    font-size: 5rem;
}
@media (min-width: 768px) {
    .big-title {
        font-size: 7rem;
    }
}

@media (min-width: 1024px) {
    .big-title {
        font-size: 10rem;
    }
}

.link-logo{
    padding: 1rem 1rem;
    font-weight: bolder;
    font-family: var(--display-font);
}

.hero-name{
    font-weight: 900;
    position: absolute;
    top: .5rem;
    left: .5rem;
}
.hero-title-3{
    position: absolute;
    bottom: 2rem;
    right: 1rem;
}

.hero-title{
    top: 1rem;
    position: absolute;
    line-height: 7rem;
    padding: 1rem;
    font-size: 5rem;
    font-family: var(--display-font);
    word-break: break-all;
    font-weight: 100;
}

@media (min-width: 485px){
    .hero-title{
        line-height: 8rem;
        font-size: 8rem;
    }
}

@media (min-width: 768px){
    .hero-title{
        line-height: 10rem;
        font-size: 11rem;
    }
}

@media (min-width: 1440px){
    .hero-title{
        line-height: 13rem;
        font-size: 13rem;
    }
}

.hero-title-1{
    top: 1rem;
    left: 1rem;
}
.hero-title-2{
    right: 1rem;
    bottom: 1rem;
}

.hero-title-1,.hero-title-2 {
    position: absolute;
    line-height: 7.4rem;
    padding: 1rem;
    font-size: 5rem;
    font-family: var(--display-font);
    word-break: break-all;
    z-index: 0;
}

@media (min-width: 375px){
    .hero-title-1,.hero-title-2 {
        line-height:7rem;
        font-size: 6rem;
    }
}

@media (min-width: 425px){
    .hero-title-1,.hero-title-2 {
        line-height:7.5rem;
        font-size: 7rem;
    }
}

.about-item-1-group{
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.profile-pic-container{
    background-color: var(--peach-1);
    border-radius: 100px;
    width: 100px;
    height: 100px;
}

@media (min-width: 425px) {
    .profile-pic-container{
        width: 150px;
        height: 150px;
    }
}

@media (min-width: 768px) {
    .profile-pic-container{
        width: 200px;
        height: 200px;
    }
}

.presentation-text {
    font-size: 18px;
    max-width: 400px;
    padding-bottom: 1.5rem;
}

.education-item-container {
    padding: 1rem;
    display: grid;
    grid-template-rows: 50px 1fr;
    overflow-x: auto;
}

.education-container::-webkit-scrollbar {
    background: transparent;
}

.education-container::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: calc(var(--border-radius) * 2);
}

.education-container {
    display: grid;
    grid-auto-flow: column;
    overflow-x: scroll;
    gap: 5rem;
    padding: 0 6rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.education-item {
    width: 200px;
    display: grid;
    gap: 5px;
    padding-bottom: 2rem;
}

.about-container-3 {
    padding: 1rem;
    display: grid;
    grid-template-rows: 50px auto;
    margin-bottom: 23px;
}

.work-list::-webkit-scrollbar {
    background: transparent;
}
.work-list::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: calc(var(--border-radius) * 2);
}
.work-list {
    padding: 0 6rem;
    display: grid;
    grid-auto-flow: column;
    overflow-x: scroll;
    gap: 10rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.work-item {
    width: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 2rem;
}

.work-title {
    font-style: italic;
}

.about-title {
    font: 24px;
    font-weight: 900;
}

.education-title {
    font-size: 18px;
    font-weight: 700;
    max-width: 120px;
}

.school-title {
    max-width: 120px;
}

.tools-and-knowledge-header {
    font-weight: 900;
}

.knowledge-list {
    max-width: 220px;
}

@media (min-width: 570px) {
    .about-container-1 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}

@media (min-width: 616px) {
    .about-container-2 {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
    }
}

.contact-open {
    overflow: auto;
    background-color: var(--dark);
    /* height: auto; */
    height: 320px;
    transition: height 300ms ease-in, background-color 300ms ease-out;
}

@media (min-width: 600px) {
    .contact-open {
        height: 170px;
    }
}

.contact-closed {
    overflow: hidden;
    height: 0;
    transition: height 150ms ease-in-out, background-color 300ms ease-out;
}

.footer-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 1rem;
    gap: 1rem;
}

@media (min-width: 600px) {
    .contact-list {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

.contact-item {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--light) var(--border-weight) solid;
    border-radius: calc(var(--border-radius) * 10);
    transition: all ease-in-out 200ms;
    box-shadow: 0px 0px 0px 0px var(--light);
    -webkit-box-shadow: 0px 0px 0px 0px var(--light);
    -moz-box-shadow: 0px 0px 0px 0px var(--light);
}

.contact-item:hover {
    transform: translateY(-4px);
    box-shadow: 0px 4px 0px 0px var(--light);
    -webkit-box-shadow: 0px 4px 0px 0px var(--light);
    -moz-box-shadow: 0px 4px 0px 0px var(--light);
}

.contact-item:active {
    transform: translateY(0px);
    box-shadow: 0px 0px 0px 0px var(--light);
    -webkit-box-shadow: 0px 0px 0px 0px var(--light);
    -moz-box-shadow: 0px 0px 0px 0px var(--light);
}

.white {
    border-bottom: var(--light) 2px solid;
    border-right: var(--light) 2px solid;
}

.contact-info {
    max-width: 200px;
    font-size: 0.85rem;
    color: var(--light);
}

/* project page */

.grid-wrapper {
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1px;
}

@media (min-width: 470px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 618px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media (min-width: 819px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media (min-width: 1019px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        grid-template-rows: 1fr;
    }
}

@media (min-width: 1419px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        grid-template-rows: 1fr;
    }
}

.grid-item {
    border-radius: var(--border-radius);
    height: 300px;
    width: auto;
    overflow: hidden;
}

.grid-item:last-child {
    grid-column: span 2;
}

@media (min-width: 618px) {
    .grid-item:last-child {
        grid-column: span 3;
    }
}

@media (min-width: 1019px) {
    .grid-item:last-child {
        grid-column: span 2;
    }
}

@media (min-width: 1068px) {
    .grid-item:first-child {
        grid-column: span 2;
    }
}

@media (min-width: 1419px) {
    /* .grid-item:second-child {
        grid-column: span 2;
    } */
}

.project-image-container {
    /* height: 100%;
    background-position: 'center center';
    background-size: 'cover'; */
}

/* .fade{
    animation-name: fade;
    animation-duration: 8s;
    animation-fill-mode: both ;
}

@keyframes fade{

    0%{
        opacity: 0;
    }
    50%{
         opacity: 1;
    }
    100%{
        opacity: 0;
    }

} */

.project-item-wrapper {
    background-color: var(--light);
    max-width: var(--max-width);
    margin: 0 auto;
    margin-top: 32px;
    min-height: 100vh;
}

.back-button {
    color: var(--dark);
    font-weight: bolder;
    padding: 0.4rem 0.6rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 990;
}

.back-button p {
    font-size: 0.9rem;
}

.rev {
    rotate: 135deg;
}

.project-container {
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.image-wrapper {
    overflow-x: auto;
    /* overflow-x: scroll; */
}

.image-container::-webkit-scrollbar {
    background: transparent;
}

.image-container::-webkit-scrollbar-thumb {
    background: var(--light);
    border-radius: calc(var(--border-radius) * 2);
}

.image-container {
    display: flex;
    gap: 1px;
    scroll-snap-type: x mandatory;
    background-color: var(--border-color);
}

.image-container img {
    flex: 0 0 auto;
    height: 400px;
    max-height: 700px;
    scroll-snap-align: start;
}

@media (min-width: 440px) {
    .image-container img {
        height: 450px;
    }
}

@media (min-width: 662px) {
    .image-wrapper {
        overflow-x: none;
        /* overflow-x: scroll; */
    }
    .image-container img {
        height: none;
        overflow-x: auto;
        max-width: 100%;
        height: auto;
    }
}

.project-info-wrapper {
    border-radius: var(--border-radius);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 22px;
}

@media (min-width: 905px) {
    .project-info-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}

.project-info-container-1,
.project-info-container-2 {
    display: grid;
    padding: 0.5rem;
}

.project-info-container-1 {
    border-right: none;
    border-bottom: var(--border-weight) var(--border-color) solid;
}

@media (min-width: 905px) {
    .project-info-container-1 {
        border-bottom: none;
        border-right: var(--border-weight) var(--border-color) solid;
    }
}

.project-name {
    font-weight: 600;
    padding-bottom: 0.5rem;
}

.project-description {
    padding-bottom: 0.5rem;
    font-size: 0.8rem;
    max-width: 500px;
}

.technology-header {
    font-weight: 800;
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
}

.technology-list {
    display: flex;
    justify-content: space-around;
}

.technology-list p {
    font-weight: 800;
}
